@import '../../variables';

span{
    padding-right: 3px;
    &:hover{
        color:blue;
    }
}

.inputs {
    width:250px;
    height:23px;
    margin:auto;
    background-color:rgb(240, 238, 238);
}
.interestCard{
    display:flex;
    flex-direction:column;
    align-self:center;
    box-sizing:border-box;
    width:65% !important;    
}
.inputsBio{
    height:150px;
    box-sizing: border-box;
    overflow: scroll;
}
.butt {
    margin-top:5px !important;
    margin:auto;
    width:130px;
}

@media only screen and (max-width: $break-large) {
    .shrink{
        visibility:hidden;
    }
    .butt{
        display:block !important;
        margin: 5px auto;
    }
}