@import '../../variables';

span{
    padding-right: 3px;
    &:hover{
        color:blue;
    }
}

.inputs {
    width:250px;
    height:25px;
    margin:auto;
    background-color:rgb(240, 238, 238);
}
.inputsBio{
    height:150px;
}
.butt {
    margin-top:5px !important;
    margin:auto;
    width:130px;
}

@media only screen and (max-width: $break-large) {
    .shrink{
        visibility:hidden;
    }
    .butt{
        display:block !important;
        
        margin: 5px auto;
    }
}