@import '../../variables';


.logo {
    font-family: $josefin ;
    color: $matLogo;
    font-weight:800;
}

#navBar{
    position:absolute !important;
    top:0;
    left:0;
    width:100%;
}

@media only screen and (min-width: $break-small) {
    #navBar {
        background-color:rgba(219, 201, 201, 0.2)!important;
    }
}
@media only screen and (max-width: $break-large) {
    .butt {
        margin:auto !important;
    }
    .interestCard {
        display: block;
        box-sizing: content-box;
        .bio{
            display:none;
            padding:10px !important;
        }
    }
}
.card {
    margin-top:20px !important;
}
.interestCard{
    font-weight:700;
    color: $headColor;

}
.bioCard {
    color: $headColor;
    font-size: 1.3em;
}
