//Google Fonts
@import url(https://fonts.google.com/specimen/Josefin+Sans);
@import url(https://fonts.google.com/specimen/Cabin);

//Font Variables
$josefin: 'Josefin Sans', serif;
$cabin: 'Cabin';
$matLogo: rgb(228, 40, 40);

$break-small: 320px;
$break-large: 1200px;