//Google Fonts
@import url(https://fonts.google.com/specimen/Josefin+Sans);
@import url(https://fonts.google.com/specimen/Cabin);

//Font Variables
$josefin: 'Josefin Sans', serif;
$cabin: 'Cabin';
$matLogo: rgb(228, 40, 40);
$headColor: rgb(107, 78, 78);
//Media Query sizes
$break-small: 320px;
$break-large: 1200px;


$card-border: 1px solide rgba(244,244,244,.7);
$card-shadow: 1px 7px 20px 1px  rgba(24, 38, 43, 0.39);
$card-color:linear-gradient(to right, rgb(170, 177, 199), rgba(253, 253, 253, 0.534),rgb(164, 168, 140));

.App{
    background-image:$card-color;
    height:stretch;
    overflow:auto;
    width:100vw;
    position:absolute;
}

.card{
    border:$card-border;
    box-shadow:$card-shadow;
    background-image:$card-color;
    
}
.butt {
    margin-top:5px !important;
    margin:auto;
    width:130px;
}